<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	
	<!-- 连接数据库的参数 -->
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/guoxiaozhuang4?useSSL=false</param-value>
		<param-name>user</param-name>
		<param-value>guoxiaozhuang4</param-value>
		<param-name>pass</param-name>
		<param-value>Qq19660425</param-value>
	</context-param>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.guoxiaozhuang4.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/_jsp/Login</url-pattern>
  </servlet-mapping>
</web-app>